<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Division Result</title>
</head>
<body>
    <h1>Division Result</h1>
    <p>Expression: {{ expression }}</p>
    <p>Result: {{ result }}</p>
</body>
</html>

