<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addition Result</title>
</head>
<body>
    <script>
        // Générer le résultat au format JSON
        var expression = "{{ expression }}";
        var result = "{{ result }}";
        var jsonResult = JSON.stringify({ expression: expression, result: result });

        // Envoyer le résultat JSON
        window.parent.postMessage(jsonResult, '*');
    </script>
</body>
</html>

